# Virtual Environment
venv/
.venv/

# OAuth Credentials
credentials.json
token.json

# Drive Mirror metadata
.drive/
*.drivepart

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

#test folders/files
test/*
